altair==5.3.0
annotated-types==0.7.0
attrs==23.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
blis==0.7.11
build==1.2.1
CacheControl==0.14.0
cachetools==5.4.0
catalogue==2.0.10
certifi==2024.7.4
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
cloudpathlib==0.18.1
colorama==0.4.6
confection==0.1.5
contourpy==1.2.1
crashtest==0.4.1
cycler==0.12.1
cymem==2.0.8
deep-translator==1.11.4
distlib==0.3.8
dulwich==0.21.7
fonttools==4.53.1
gitdb==4.0.11
GitPython==3.1.43
idna==3.7
importlib_metadata==7.1.0
installer==0.7.0
jaraco.classes==3.4.0
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keyring==24.3.1
kiwisolver==1.4.5
langcodes==3.4.0
language_data==1.2.0
lxml==5.2.2
marisa-trie==1.2.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1.post1
mdurl==0.1.2
msgpack==1.0.8
murmurhash==1.0.10
neattext==0.1.3
nltk==3.8.1
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pexpect==4.9.0
pillow==10.4.0
pkginfo==1.10.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
preshed==3.0.9
protobuf==5.27.2
psycopg2-binary
ptyprocess==0.7.0
pyarrow==17.0.0
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
Pygments==2.18.0
pyparsing==3.1.2
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
rapidfuzz==3.9.2
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.7.1
rpds-py==0.19.0
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
soupsieve==2.5
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
streamlit==1.36.0
tenacity==8.5.0
textblob==0.18.0.post0
thinc==8.2.5
toml==0.10.2
tomlkit==0.12.5
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.5
trove-classifiers==2024.5.22
typer==0.12.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.26.2
wasabi==1.1.3
watchdog==4.0.1
weasel==0.4.1
wordcloud==1.9.3
wrapt==1.16.0
zipp==3.19.0
